*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.menu{
    background-color: rgb(14, 48, 78);
    padding: 40px;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

.menu-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.item .number{
    color: rgb(199, 131, 5);
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 7px;
}

.item .text{
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px
}

