*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 1170px;
    margin: 0 auto;
}
.box-inner{
    text-align: center;
}

.box-inner h1{
    max-width: 750px;
    margin: 80px auto 30px;
    line-height: 45px;
    font-weight: normal;
}

.box-inner p{
    max-width: 900px;
    margin: 0 auto 60px;
    line-height: 30px;
}

.icon-box i{
    margin-bottom: 60px;
    color: rgb(20, 175, 175);
    font-size: 80px;
    margin: 0 50px;
}